{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Listado de pedidos</h1>
        <p class="lead">Aqui puede ver todos sus pedidos, tanto pendientes, completados o enviados.</p>
        {% if mensaje == 1%}
        <div class="alert alert-success" role="alert">
            Pedido pagado correctamente.
        </div>
        {% endif %}
        {% if mensaje == 0%}
        <div class="alert alert-warning" role="alert">
            Error al pagar pedido.
        </div>
        {% endif %}
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-danger">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo de venta</th>
                <th scope="col">Estado pedido</th>
                <th scope="col">Producto comprado</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha pedido</th>
                <th scope="col">Total:</th>
                <th scope="col">Acciones:</th>
            </tr>
        </thead>
        {% for pedido in lista %}
        <tbody>
            <tr>
                <td>{{pedido.0}}</td>
                <td>{{pedido.1}}</td>
                <td>{{pedido.2}}</td>
                <td>{{pedido.4}} / {{pedido.5}}</td>
                <td>{{pedido.3}} unidades.</td>
                <td>{{pedido.6}}</td>
                <td>${{pedido.7}}</td>
                <td>
                    {% if pedido.2 == 'Enviado' %}
                    <form method="POST" class="post-form">{% csrf_token %}
                        <input type="text" hidden value="{{pedido.0}}" name="inputId" id="inputId">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button name="btnAccion" class="dropdown-item" type="submit" value="confirmar" formaction="{% url 'confirmarPedido' %}">Confirmar
                                    recepcion.</button>
                                <button name="btnAccion" class="dropdown-item" type="submit" value="informar" formaction="{% url 'informarProblema' %}">Informar
                                    problema.</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}